<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
{% block content %}
<body class="text-center">
	<form method="post" class="form-signin">
		{% csrf_token %}
		{{form.as_p}}
		{% endblock %}
		{% block body %}
		<button class="btn btn-lg btn-primary btn" type="submit">Login</button><br>
		<br>
		
		<p>Don't have a account signin here<a href="{% url "accounts:register" %}"> Signin</a></p>
		{% endblock %}
	</form>

</body>
</html>