.jumbortan {
  position: absolute;
 
  left:50%;
  transform: translate(-50%,-50%);
  
}

.tuna{
    
    
   margin-left: 10% ;
}

.hello{
    height: 2px;
    color: #000000;
}

.Django{
	margin: 2% 0% 7% 40%;
}

.java{
	text-align: center;
	margin-top:0%;
	font-weight: bold;
}

.pagination {
  margin-left: 43% ;
  margin-bottom: 3% ;
}